<div class="container py-5">
    @if(showContent){
    <div class="row justify-content-center">
        <div class="col-lg-10" appScrollAnimation="animate-fade-left">
            <h2 class="text-center text-primary mb-4 fw-bold" appScrollAnimation="animate-fade-right">About Me</h2>

            <p class="lead mb-4 text-justify" appScrollAnimation="animate-fade-right" delay="delay-100">
                I am a Full Stack Developer currently working at Softcafe IT Solution LTD with expertise in Angular,
                Java,
                and
                Spring Boot.
            </p>

            <div class="mb-4" appScrollAnimation="animate-fade-right" delay="delay-200">
                <p>
                    <span class="fw-bold">Career Objective:</span>
                    To build a long-term career in IT with opportunities for career growth. To enhance my educational
                    and
                    professional skills in a stable and dynamic workplace.
                </p>
            </div>

            <div class="education-section" appScrollAnimation="animate-fade-right" delay="delay-300">
                <p class="mb-2">Education</p>
                <ul class="list-unstyled">
                    <li class="mb-1">PGDIT in Post Graduate Diploma in Information Technology, Jahangirnagar University
                        (CGPA: 3.00/4)</li>
                    <li class="mb-1">MBA in Master of Business Administration, National University (CGPA: 2.50/4)</li>
                    <li class="mb-1">BBA in Bachelor of Business Administration, National University (CGPA: 2.62/4)</li>
                    <li class="mb-1">HSC, Science, Palashbari govt college,polashbari gaibandha (CGPA: 3.10/5)</li>
                    <li>SSC, Science, Bishobari Bl High School (CGPA: 3.31/5)</li>
                </ul>
            </div>
        </div>
    </div>
    }
</div>